:root {
  --pcolor-1: hsl(246, 80%, 60%);
  --pcolor-2: hsl(15, 100%, 70%);
  --pcolor-3: hsl(195, 74%, 62%);
  --pcolor-4: hsl(348, 100%, 68%);
  --pcolor-5: hsl(145, 58%, 55%);
  --pcolor-6: hsl(264, 64%, 52%);
  --pcolor-7: hsl(43, 84%, 65%);
  --ncolor-1: hsl(226, 43%, 10%);
  --ncolor-2: hsl(235, 46%, 20%);
  --ncolor-3: hsl(235, 45%, 61%);
  --ncolor-4: hsl(236, 100%, 87%);
  --ncolor-5: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--ncolor-1);
  color: var(--ncolor-5);
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--ncolor-5);
}

main {
  padding: 4rem 0rem;
}

.mainBox {
  width: 18rem;
  border-radius: 0.75rem;
  background-color: var(--ncolor-2);
  height: 10.5rem;

  nav {
    width: 18rem;
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    a {
      text-align: center;
      font-weight: 400;
      color: var(--ncolor-3);
    }
    a:hover {
      color: var(--ncolor-5);
    }
    .focused {
      color: var(--ncolor-5);
    }
  }
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 7rem;
    border-radius: 0.75rem;
    background-color: var(--pcolor-1);

    img {
      width: 56px;
      height: 56px;
      border-radius: 50rem;
      border: 2px solid var(--ncolor-5);
    }
    .name {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      justify-content: center;
      color: var(--ncolor-4);
      font-size: 0.75rem;
      font-weight: 300;
    }
    span {
      color: var(--ncolor-5);
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}

.box {
  background-image: url(../images/icon-work.svg);
  background-color: var(--pcolor-2);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: 13rem -0.5rem;
  margin-top: 4rem;
  width: 18rem;
  height: 9rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  .inbox {
    width: 18rem;
    height: 7rem;
    border-radius: 0.75rem;
    padding-top: 1.5rem;
    background-color: var(--ncolor-2);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    transition: 0.3s ease all;
  }
  .inbox:hover {
    background-color: var(--ncolor-3);
  }
}

.firstRow,
.secondRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
}

.firstRow {
  img:hover {
    cursor: pointer;
  }
}
.secondRow {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  .hour {
    font-size: 2rem;
    font-weight: 300;
  }
  .previous {
    color: var(--ncolor-4);
    font-size: 0.875rem;
  }
}

.box.play {
  background-image: url(../images/icon-play.svg);
  background-color: var(--pcolor-3);
}

.box.study {
  background-image: url(../images/icon-study.svg);
  background-color: var(--pcolor-4);
}

.box.exercise {
  background-image: url(../images/icon-exercise.svg);
  background-color: var(--pcolor-5);
}
.box.social {
  background-image: url(../images/icon-social.svg);
  background-color: var(--pcolor-6);
}
.box.selfcare {
  background-image: url(../images/icon-self-care.svg);
  background-color: var(--pcolor-7);
}

footer {
  width: 16rem;
  padding-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
  body {
    width: 100vw;
    height: 95vh;
    justify-content: center;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5rem;
    .mainBox {
      width: 12rem;
      height: 25.5rem;

      nav {
        width: 12rem;
        height: 7.5rem;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 0.75rem 0rem 0.75rem 1.5rem;

        a {
          text-align: start;
          font-size: 0.875rem;
        }
      }

      .profile {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: 18rem;
        padding-left: 1.5rem;
        padding-top: 2rem;
        gap: 2rem;

        img {
          width: 4rem;
          height: 4rem;
        }
        span {
          font-size: 2rem;
        }
      }
    }
    .inGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  }

  .box {
    margin-top: 0;
    width: 12rem;
    height: 12rem;
    background-position: 7rem -0.5rem;
    .inbox {
      width: 12rem;
      height: 9.5rem;
    }
  }

  .firstRow {
    font-size: 0.875rem;
  }

  .secondRow {
    flex-direction: column;
    align-items: start;
    .hour {
      font-size: 2.5rem;
      font-weight: 300;
      padding-bottom: 0.5rem;
    }
    .previous {
      color: var(--ncolor-4);
      font-size: 0.75rem;
    }
  }
}
